.cartwidget{
    position: relative;
    width: 50px;
    & span{
        color: var(--common-black);
        padding: var(--space-xs);
        font-size: var(--text-caption);
        border-radius: 100%;
        max-width: 15px;
        max-height: 15px;
        position: absolute;
        top: -10px;
        left: 15px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
}