.orders{
    padding: 5.5rem 0;

    .c-ordersTable{
        @include rounded(4px);
        padding: var(--space-m);
        margin-bottom: var(--space-s);
        border: 0.2px solid var(--prussian-blue);
        gap: 12px;
        @media (max-width: 700px){
            flex-direction: column;
        }
        &_item{
            @extend .c-ordersTable
        }
    }
}