.aditional{
  padding: var(--space-m);
}

.grid_v2 div:nth-child(2n+1){
  @include grid-column-start-end(1, 7);
  @media (max-width: 900px){
    @include grid-column-start-end(1, 13);
  }
  @media (max-width: 700px){
    @include grid-column-start-end(1, 5);
  }
  @media (max-width: 600px){
    @include grid-column-start-end(1, 5);
  }
  @media (max-width: 500px){
    @include grid-column-start-end(1, 4);
  }
  @media (max-width: 360px){
    @include grid-column-start-end(1, 5);
  }
}

.grid_v2 div:nth-child(2n+2){
  @include grid-column-start-end(7, 13);
  @media (max-width: 900px){
    @include grid-column-start-end(1, 13);
  }
  @media (max-width: 700px){
    @include grid-column-start-end(5, 9);
  }
  @media (max-width: 600px){
    @include grid-column-start-end(5, 9);
  }
  @media (max-width: 500px){
    @include grid-column-start-end(4, 7);
  }
  @media (max-width: 360px){
    @include grid-column-start-end(1, 5);
  }
}

#itemDetail{
  .line{
    position: absolute;
    width: 1px !important;
    height: 100%;
    background: rgba(2, 2, 2, 0.097);
  }
  .one{
      left: 25%;
  }
  .two{
      left: 50%;
  }
  .three{
      left: 75%;
  }
}


.itemDetail{
  color: var(--prussian-blue);
  padding: 5rem 0;

  
  &_materials{
    @include grid-templete(repeat(4, 1fr),repeat(4, 1fr) );
    width: 100%;
    position: sticky;
    top: 100px;
  }

  &_materials-title{
    font-size: var(--text-note);
    @include grid-column-start-end(1, 3);
    @include grid-row-start-end(1, 2);
    position: relative;
    &:before{
      content: " ";
      height: 100%;
      width: 0.4px;
      background-color: var(--prussian-blue);
      position: absolute;
      top: 20px;
      left: 0;
      opacity: 0.5;
    }
  }
  &_materials-description{
    font-size: var(--text-xs);
    @include grid-column-start-end(1, 4);
    @include grid-row-start-end(2, 4);
  }
  
  .itemDetailInfo{
    position: sticky;
    top: 100px;
    @media (max-width: 900px){
      position: relative;
    }
      @include flex-direction-column;
      gap: 20px;
      font-size: var(--text-xs);

      &__title{
        font-size: var(--text-base) !important;
      }
      &__price{
        font-weight: 700;
      }
    }
    &_images{
      cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAADNQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwsLC/v7+9fX1AAAABAQEkMhM2QAAABF0Uk5TACJxruDxHp//UG8S////tv/O1UKnAAAAf0lEQVR4nHVSWRaAIAjEEiX3+582sxJfr5kPRQbZiW6YbbfMdt8MrXBeJrxT/cGygI9XH+SD8Nh/9SLjT5zPlKYYO6Fxc9YMekLqoBSV3Rp5JQLVf6KSHXdTYohi6aqtpVw68n2mi2JMQFcwOEwXFghbgpsI244HhUeLl+FvfU7fhhAZnhMs9gAAAABJRU5ErkJggg==),auto;
    }
  }