.footer_info{
    @include grid-start-end(2, 12, 2, 12);
    @include flex-center;
    background-color: #f9f9f9;
    flex-direction: column;
    
    .social{
        margin-top: 45px;
        display: flex;
        gap: 20px;
        font-size: 14px;
    }
    .political{
        display: flex;
        gap: 20px;
        font-size: 14px;
    }
}