@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

body{
  background-color: #fff;
  padding: 0px;
  margin: 0px;
}

.MuiBackdrop-root{
  background-color: transparent !important;
}
/* .App{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
} */