body{
  background-color: #282c34;
}
.App-header {
  background-color: #282c34;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-toolbar{
  width: 100%;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-menu{
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.container{
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 69px);
  background-color: #282c34;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
